
# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore Docker and Cloud Build configuration files
Dockerfile
cloudbuild.yaml

# Ignore Git files
.git
.gitignore
